/* DETALLE */
.appDetalle {
    width: 100vw;
    min-height: 84.1vh;
    padding-top: 83.03px;
    background-color: var(--blanco);
    @media screen and (max-width: 1200px) {
        padding-top: 66.09px;
    }
    @media screen and (max-width: 930px) {
        padding-top: 61.98px;
    }
}


/* FOTOS */
.contNombreCarro {
    color: var(--verdeOscuro);
    background-color: var(--grisClaro);
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contNombreCarro h2{
    margin: 0;
}

.contFotosGeneral {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contFotos {
    display: flex;
}

.contFotoPrincipal {
    display: flex;
    height: 25rem;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 0.5rem;
    background-color: transparent;
}

.contFotoPrincipal img {
    max-width: 100%;
    width: 100%;
    margin: -30px 0px -30px 0px;
}

.contFotosSeg {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.fotosSeg {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.fotosSegIndividual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 15rem;
    overflow: hidden;
    margin: 0.25rem;
    background-color: var(--blanco);
    border-radius: 7px;
}

.fotosSeg img {
    max-width: 100%;
    width: 80%;
    margin: -20px 0px -25px 0px;
}

.contBtn {
    display: flex;
    justify-content: end;
    padding: 1.5rem 5rem;
    background-color: var(--blanco);
    border-radius: 0 0 10px 12px;
}

.btnVerMas {    
    padding: 0.7rem 3rem;
    background-color: var(--verdeClaro);
    color: var(--blanco);
    font-size: 16px;
    font-weight: 550;
    border: 1px solid var(--verdeClaro);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.btnVerMas:hover {
    color: var(--blanco);
    background-color: var(--verdeOscuro);
    border: 1px solid var(--verdeOscuro);
}

/*DESCRIPCION*/

.contDescripcion {
    display: flex;
    flex-direction: column; 
    background-color: var(--grisClaro);
    padding: 3rem 5rem;
}

.contDescripcion span {
    font-size: 18px;
    font-weight: 600;
}

.contFlecha img {
    width: 3rem;
}

/* CARACTERISTICAS */
.contCaracteristicas{
    width: 100vw;
    padding: 1rem 5rem;
}

/* CALENDARIO */

.contCalendario {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 15rem;
    background-color: var(--verdeOscuro);
}

.contImgCal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contImgCal h3 {
    color: var(--blanco);
}

.contCalendario img {
    width: 10rem;
}