/* DETALLE */
.appDetalle {
    width: 100vw;
    min-height: 84.1vh;
    padding-top: 83.03px;
    background-color: var(--blanco);
    @media screen and (max-width: 1200px) {
        padding-top: 66.09px;
    }
    @media screen and (max-width: 930px) {
        padding-top: 61.98px;
    }
}


.imgVover {
    cursor: pointer;
}

/* FOTOS */
.contNombreCarro {
    color: var(--verdeOscuro);
    background-color: var(--grisClaro);
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contNombreCarro h2{
    margin: 0;
}

.contFotosGeneral {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    @media screen and (max-width: 930px) {
        padding-bottom: 0;
    }
}

.contFotos {
    display: flex;
    max-width: 100%;
    align-items: center;
    @media screen and (max-width: 930px) {
        flex-direction: column;
    }
}

.contFotoPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    overflow: hidden;
    margin: 0.25rem;
    background-color: var(transparent);
    border-radius: 7px;
    @media screen and (max-width: 700px) {
        width: 25rem;
    }
    @media screen and (max-width: 460px) {
        width: 15rem;
    }
}

.contFotoPrincipal img {
    max-width: 100%;
    border-radius: 7px;
}

.contFotosSeg {
    display: flex;
    width: 35rem;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 1250px) {
        margin: 1.5rem;
        width: 25rem;
    }
    @media screen and (max-width: 700px) {
        width: 20rem;
    }
    @media screen and (max-width: 460px) {
        width: 13rem;
    }
    
}

.fotosSeg {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.fotosSegIndividual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    overflow: hidden;
    margin: 0.25rem;
    background-color: transparent;
    border-radius: 7px;
}

.fotosSegIndividual img {
    max-width: 100%;
    border-radius: 7px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.contBtn {
    display: flex;
    justify-content: end;
    padding: 1.5rem 5rem;
    background-color: var(--blanco);
    border-radius: 0 0 10px 12px;
    @media screen and (max-width: 700px) {
            justify-content: center;
        }
}

.btnVerMas {    
    padding: 0.7rem 3rem;
    background-color: var(--verdeClaro);
    color: var(--blanco);
    font-size: 16px;
    font-weight: 550;
    border: 1px solid var(--verdeClaro);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.btnVerMas:hover {
    color: var(--blanco);
    background-color: var(--verdeOscuro);
    border: 1px solid var(--verdeOscuro);
}

/*DESCRIPCION*/

.contDescripcion {
    display: flex;
    flex-direction: column; 
    background-color: var(--grisClaro);
    padding: 3rem 5rem;
}

.contDescripcion span {
    font-size: 18px;
    font-weight: 600;
}

.contFlecha img {
    width: 3rem;
}

/* CARACTERISTICAS */
.contCaracteristicas {
    width: 100vw;
    padding: 1rem 5rem;
}

.listaCaracteristicas {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listaCaracteristicas li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listaCaracteristicas img {
    width: 1.5rem;
    margin-right: 5px;
}

/* CALENDARIO */

.contCalendario {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 15rem;
    background-color: var(--verdeOscuro);
    @media screen and (max-width: 1250px) {
        flex-direction: column;
        align-items: center;
        padding: 2rem 5rem 2rem 5rem;
    }
}

.contImgCal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contImgCal h3 {
    color: var(--blanco);
}

.contCalendario img {
    display: flex;
    width: 10rem;
    @media screen and (max-width: 1250px) {
        width: 6rem;
    }
}