.usuarios {
    margin-top: 10vh;
    margin-bottom: 15vh;
    font-family: "Poppins" ;
    padding: 2%;
    min-height: 84.1vh;
}

.usuarios h1 {
    color: var(--verdeOscuro);
    font-size: 24px;
    font-weight: bold;
    margin-left: 0%;
}

.usuarios table {
    width: 100%;
    border-collapse: collapse;
}

.usuarios th {
    background-color: var(--grisClaro);
    color: var(--verdeOscuro);
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    border-bottom: 4px solid var(--verdeClaro);
  }

.usuarios td {
    font-size: 14px;
    text-align: center;
    color: var(--verdeOscuro);
    font-weight: 600;
    margin: 10px;
}
.permiso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonAgregar {
    background-color: var(--verdeClaro);
    color: var(--blanco);
    border: none;
    padding: 15px 20px;
    width: 70%;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

.botonAgregar:hover {
    background-color: var(--verdeOscuro);
}

.botonQuitar {
    background-color: var(--verdeOscuro);
    color: var(--blanco);
    border: none;
    padding: 15px 20px;
    width: 70%;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
}

.botonQuitar:hover {
    background-color: var(--verdeClaro);
}

.listar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contTitulo {
    display: flex;
    gap: 2rem;
}