.reserva {
    margin-bottom: 15vh;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 84.1vh;
}

.tuReservaContainer {
    background-color: var(--verdeOscuro);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
    /* Centra verticalmente */
}

.userReserva {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: var(--verdeOscuro);
    margin: auto;
}

.titulo {
    color: var(--verdeClaro);
    font-size: 24px;
}

.titulo2 {
    color: white;
    font-size: 24px;
}

.informacion {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
}

.nombre {
    display: flex;
    align-items: center;
}

.nombre p {
    margin: 5px;
    border: 1px solid var(--grisClaro);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
    width: 15vw;
}

.p {
    border: 1px solid var(--grisClaro);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
    width: 31vw;
    margin: 5px;
}



/* CALENDARIO */

.contCalendario {
    margin-top: 2rem;
    font-size: 18px;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding: 2rem 5rem 2rem 5rem;
    background-color: var(--verdeOscuro);

    @media screen and (max-width: 1250px) {
        flex-direction: column;
        align-items: center;
        padding: 2rem 5rem 2rem 5rem;
    }
}

.contSelecFechas {
    display: flex;
}

.contImgCal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

.contImgCal h3 {
    color: var(--blanco);
}

.contCalendario img {
    display: flex;
    width: 10rem;

    @media screen and (max-width: 1250px) {
        width: 6rem;
    }
}

.contenedorDisponibilidad {
    display: flex;
    margin: 2rem;
}

.fechas {
    font-weight: bold;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.fechas input {
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
}

.applyButton {
    background-color: var(--verdeClaro);
    border: none;
    padding: 0.4rem 1rem;
    width: 10rem;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px
}

.applyButton:hover {
    background-color: var(--verdeOscuro);
}

.botonAplicar {
    display: flex;
    justify-content: center;

}

/* Boton reservas */

.btReservas {
    display: flex;
    justify-content: center;
    color: var(--blanco);
    font-family: "Poppins";
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    background-color: var(--verdeClaro);
    border: none;
    box-shadow: 0 8px 8px -10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-weight: 550;
    margin-left: 0%;
}

.btReservas:hover {
    background-color: var(--grisPlomo);
}

/* Metodo de pago */

.radioContainer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metodoPagoOptions {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Centra verticalmente */
    margin-bottom: 5px;
}

.radioLabel {
    margin: 0;

}

.radioInput {
    /* Estilos del borde para el radio button */
    border: 2px solid #333;
    /* Grosor del borde y color */
    border-radius: 50%;
    /* borde sea redondo */
    width: 20px;
    /* Ajusta el tamaño del radio button*/
    height: 20px;
}


.btConfirmarReserva {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    color: var(--blanco);
    font-family: "Poppins";
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--verdeClaro);
    border: none;
    box-shadow: 0 8px 8px -10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-weight: 550;
    margin: 20px auto;
    /* Auto margin para centrar verticalmente */
    width: fit-content;
    /* Ajusta el ancho al contenido */
}


.btConfirmarReserva:hover {
    background-color: var(--grisPlomo);
}