.categoria {
    margin:auto;
    margin-top: 10vh;
    margin-bottom: 15vh;
    min-height: 84.1vh;
    width: 100vw;
    justify-content: center;
    font-family: "Poppins" ;
    padding: 2%;
}

.categoria h1 {
    color: var(--verdeOscuro);
}

.categoria form {
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.contCategoria {
    margin: 20px;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    font-weight: bold;
    font-size: 20;
}

.descripcion {
    height: 50%;
}

.categoria input {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins" ;
    border: 2px solid var(--grisClaro);
    box-shadow: 0 0 0.5px var(--grisClaro);
}

.categoria textarea {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins" ;
    border: 2px solid var(--grisClaro);
    box-shadow: 0 0 0.5px var(--grisClaro);
}


.fileInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileInput label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--verdeOscuro);
    color: var(--blanco);
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: bold;
    text-align: center;
    width: 180px;
}

.fileInput label:hover {
    background-color: var(--verdeClaro);
}

.buttonSubmit {
    color: #FFFFFF;
    font-family: "Poppins" ;
    font-weight: bold;
    padding: 15px 25px;
    background-color: var(--verdeClaro);
    border: none;
    cursor: pointer;
    width: 180px;
    display: flex;
    justify-content: center;
}

.alinerIzq {
    display: flex;
    align-items: flex-start;
}

.imagen {
    color: var(--verdeOscuro);
    font-size: 16px;
} 

.botonCategoria {
    background-color: var(--verdeOscuro) !important;
    color: var(--blanco);
    border: none;
    font-family: "Poppins" ;
    font-weight: bold;
    padding: 15px 25px;
}

