/* HOME */
.appHome {
    width: 100vw;
    min-height: 84.1vh;
    padding-top: 83.03px;
    @media screen and (max-width: 1200px) {
        padding-top: 66.09px;
    }
    @media screen and (max-width: 930px) {
        padding-top: 61.98px;
    }
}


/* CONTAINER BUSQUEDA*/
.contBusqueda {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--verdeOscuro);
}

.contBusqueda img {
    width: 5rem;
    margin: 3rem 5rem 2.5rem 5rem;
}

.contInputBusqueda {
    display: flex;
    width: 45%;
    align-items: center;
    min-height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.contInputBusqueda h2 {
    font-size: 26px;
    font-weight: 550;
    color: var(--blanco);
    margin: 1.5rem 0 2rem 0;
}

.itemInputBusqueda {
    display: flex;
    flex-direction: row;
    margin-bottom: 5.5rem;
}

.itemInputBusqueda input {
    border-radius: 81px;
    margin-right: 1rem;
    padding: 1rem;
    width: 25rem;
    height: 3rem;
    border:1px solid var(--blanco);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.itemInputBusqueda input:focus{
    color: var(--blanco);
    border-color: var(--negro);
}

.itemInputBusqueda button {
    color: #fff;
    font-weight: 550;
    border-radius: 70px;
    background-color: var(--verdeClaro);
    padding: 0.4rem 1rem;
    width: 9rem;
    height: 3rem;
    border: 1px solid var(--verdeClaro);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


/* CONTAINER CATEGORIAS*/
.contCategorias {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5rem;
    padding-bottom: 3rem;
}

.contCategorias h2 {
    margin-left: 4rem;
    font-weight: 550;
    color: var(--verdeOscuro);
}

.contCentrarCards {
    display: flex;
    justify-content: center;
}

.categorias {
    display: flex;
    max-width: 100vw;
    width: 90%;
    justify-content: space-between;
    margin: 0;
}

.linkCategorias {
    width: 100%;
    max-width: 29rem;
    flex-direction: column;
    border: 2px solid rgba(199, 194, 194, 0.3);
    border-top: none;
    border-radius: 10px;
    box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.8);
    color: var(--verdeOscuro);
    text-decoration: none;
}

.contLinkImg {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.linkCategorias img {
    max-width: 100%;
    width: 80%;
    margin: -40px 0px -25px 0px;
}

.linkCategorias h3 {
    font-size: 15px;
    margin-left: 1rem;
}


/* CONTAINER RECOMENDACIONES*/
.recomendaciones {
    display: flex;
    width: 100vw;
    background-color: var(--grisClaro);
}

.recomendaciones h2 {
    margin-left: 4rem;
    font-weight: 550;
    color: var(--verdeOscuro);
}

@media screen and (max-width: 900px) {
    .linkCategorias img {
        width: 10rem;
    }
}