/* HOME */
.appHome {
	width: 100vw;
	min-height: 84.1vh;
	padding-top: 83.03px;
	@media screen and (max-width: 1200px) {
		padding-top: 66.09px;
	}
	@media screen and (max-width: 930px) {
		padding-top: 61.98px;
	}
}

/* CONTAINER BUSQUEDA*/
.buscador {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 70vw;
}	

.contBusqueda {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	background-color: var(--verdeOscuro);
}

.contBusqueda img {
	width: 5rem;
	margin: 3rem 5rem 2.5rem 5rem;
}

.contInputBusqueda {
	display: flex;
	width: 45%;
	align-items: center;
	min-height: 100%;
	justify-content: space-between;
	flex-direction: column;
}

.contInputBusqueda h2 {
	font-size: 30px;
	font-weight: 550;
	color: var(--blanco);
	margin: 1.5rem 0 2rem 0;
}

.contInputBusqueda p {
	color: var(--blanco);
	width: 70vw;
	font-size: 16px;
	text-align: center;
}

.itemInputBusqueda input {
	border-radius: 5px;
	margin-right: 1rem;
	padding: 1rem;
	width: 25rem;
	height: 3rem;
	border: 1px solid var(--blanco);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	color: var(--grisPlomo);
}

.itemInputBusqueda input:focus {
	color: var(--negro);
	border-color: var(--negro);
}

.btBusqueda {
	color: #fff;
	font-weight: 550;
	background-color: var(--verdeClaro);
	padding: 0.4rem 1rem;
	width: 48rem;
	height: 3rem;
	border: none;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	margin: 1rem;
}

.itemInputBusqueda {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	margin: 1rem;
}

.calendarElement {
	height: 60vh;
	position: absolute;
	left: 75%;
	transform: translateX(-50%);
	top: 50px;
	z-index: 999;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}


.applyButton {
	background-color: var(--verdeClaro);
	position: absolute;
	left: 90%;
	transform: translateX(-50%);
	top: 440px;
	z-index: 999;
	border: none;
	padding: 0.4rem 1rem;
	width: 20%;
	color: var(--blanco);
}

.dropdown {
	display: flex;
	justify-content: center;
	margin-right: 1rem;
	padding: 1rem;
	width: 8rem;
	height: 3rem;
	border: none;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	background-color: var(--grisAzulado);
	color: var(--blanco);
}

.modalCategorias {
	position: absolute;
	top: 55%;
	left: 24%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 150px; /* Ajusta el ancho máximo según tus preferencias */
	background-color: var(--grisClaro); /* Fondo blanco para el contenido del modal */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1; /* Asegura que esté sobre el resto de la página */
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	color: black; /* Color del icono de cierre */
}

.checkboxContainer {
	display: flex;
	flex-direction: column;
}

.checkboxItem {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.checkbox {
	margin-right: 10px;
}

.btLimpiar{
	display: flex;
	justify-content: center;
	margin-right: 1rem;
	padding: 1rem;
	width: 11rem;
	height: 3rem;
	border: none;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	background-color: var(--grisAzulado);
	color: var(--blanco);
}

.botonesBusqueda {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


/* CONTAINER CATEGORIAS*/
.contCategorias {
	width: 100%;
	max-width: 100vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 2rem;
	padding-bottom: 3rem;
}

.contCategorias h2 {
	margin-left: 4rem;
	font-weight: 550;
	color: var(--verdeOscuro);
}

.contCentrarCards {
	display: flex;
	justify-content: center;
}

.categorias {
	display: flex;
	max-width: 100vw;
	width: 90%;
	justify-content: space-between;
	margin: 0;
}

.linkCategorias {
	width: 100%;
	max-width: 29rem;
	padding-top: 1rem;
	flex-direction: column;
	border: 2px solid rgba(199, 194, 194, 0.3);
	border-top: none;
	border-radius: 10px;
	box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.8);
	color: var(--verdeOscuro);
	text-decoration: none;
}

.contLinkImg {
	width: 100%;
	overflow: hidden;
	height: 80%;
	display: flex;
	justify-content: center;
}

.linkCategorias img {
	max-width: 100%;
	width: 80%;
	margin: -40px 0px -25px 0px;
}

.linkCategorias h3 {
	font-size: 15px;
	margin-left: 1rem;
}

/* CONTAINER RECOMENDACIONES*/
.recomendaciones {
	display: flex;
	flex-direction: column;
	width: 100vw;
	background-color: var(--grisClaro);
}

.recomendaciones h2 {
	margin-left: 4rem;
	font-weight: 550;
	color: var(--verdeOscuro);
}

@media screen and (max-width: 900px) {
	.linkCategorias img {
		width: 10rem;
	}
}
